@model EmployeeApp.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Create";
}
<hr />

<h2>@Model.EmpName</h2>

<partial name="_EmployeeForm" for="@Model" />

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 offset-lg-8 offset-md-6 full-btn-wrapper margin-top-10">
        <button class="btn btn-lg btn-success" employee-action="create">Create</button>
    </div>
</div>