@model EmployeeApp.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Create";
}
<hr />

<h2>@Model.EmpName</h2>

<partial name="_EmployeeForm" for="@Model" />


<div class="row">
    <div class="col form-group">
        <button class="btn btn-success" employee-action="create">Create</button>
    </div>
</div>
