@model EmployeeApp.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Details";
}

<hr />
<h2>@Model.EmpName</h2>

<input type="hidden" asp-for="EmpId" />
<div class="form-row">
    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
        <label asp-for="EmpName"></label>
        <input asp-for="EmpName" class="form-control" disabled />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
        <label asp-for="EmpDateOfHire"></label>
        <input type="date" asp-for="EmpDateOfHire" class="form-control" disabled />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
        <label asp-for="EmpSupervisorName"></label>
        <input asp-for="EmpSupervisorName" class="form-control" disabled />
    </div>
</div>
@for (var a = 0; a < Model.EmployeeAttributes.Count; a++)
{
    <div class="form-row">
        <input type="hidden" asp-for="@Model.EmployeeAttributes[a].AttrId" />
        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
            <input asp-for="@Model.EmployeeAttributes[a].AttrName" class="form-control blue-border" disabled />
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
            <input asp-for="@Model.EmployeeAttributes[a].AttrValue" class="form-control" disabled />
        </div>
    </div>
}
