@model EmployeeApp.Models.EmployeeViewModel


<div id="attribute-template" class="hidden">
    <div class="form-group" id="attribute-{0}">
        <div class="row">
            <input type="hidden" data-val="true" data-val-required="The AttrId field is required." id="EmployeeAttributes_{0}__AttrId" name="EmployeeAttributes[{0}].AttrId" value="00000000-0000-0000-0000-000000000000">
            <div class="col-lg-4 col-md-5 col-sm-10 form-group">
                <input class="form-control blue-border" type="text" data-val="true" data-val-required="The Name field is required." id="EmployeeAttributes_{0}__AttrName" name="EmployeeAttributes[{0}].AttrName" value="">
                <span class="text-danger field-validation-valid" data-valmsg-for="EmployeeAttributes[{0}].AttrName" data-valmsg-replace="true"></span>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-10 form-group">
                <input class="form-control" type="text" data-val="true" data-val-required="The Value field is required." id="EmployeeAttributes_{0}__AttrValue" name="EmployeeAttributes[{0}].AttrValue" value="">
                <span class="text-danger field-validation-valid" data-valmsg-for="EmployeeAttributes[{0}].AttrValue" data-valmsg-replace="true"></span>
            </div>
            <div class="col-lg-3  col-md-2  col-sm-2 text-right">
                <button class="btn btn-danger" attribute-action="delete" type="button" data-attributeid="attribute-{0}" data-number="{0}">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="row h-100 justify-content-center center">
        <button type="button" class="btn btn-secondary" id="add-attribute">Add attribute</button>
    </div>
</div>
