@model EmployeeApp.Models.EmployeeViewModel

<form id="employee-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="EmpId" />
    <div class="form-row">
        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
            <label asp-for="EmpName"></label>
            <input asp-for="EmpName" class="form-control" />
            <span asp-validation-for="EmpName" class="text-danger"></span>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
            <label asp-for="EmpDateOfHire"></label>
            <input type="date" asp-for="EmpDateOfHire" class="form-control" />
            <span asp-validation-for="EmpDateOfHire" class="text-danger"></span>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
            <label asp-for="EmpSupervisorId"></label>
            <select asp-for="EmpSupervisorId" class="form-control" asp-items="ViewBag.EmpSupervisor"></select>
            <span asp-validation-for="EmpSupervisorId" class="text-danger"></span>
        </div>
    </div>
    <div id="employee-attributes-form">
        <partial name="_AttributesForm" for="@Model" />
    </div>
    <div class="row">
        <div class="row h-100 justify-content-center center">
            <button type="button" class="btn btn-secondary" attribute-action="new" id="add-attribute">Add New</button>
        </div>
    </div>
    @*<div id="additional-attribute"></div>*@
</form>
@*<partial name="_AttributeTemplate" />*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}