@model EmployeeApp.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Edit";
}
<hr />

<h2>@Model.EmpName</h2>

<partial name="_EmployeeForm" for="@Model" />

<div class="row">
    <div class="col form-group text-right">
        <button class="btn btn-success" employee-action="update">Update</button>
    </div>
</div>
