@model EmployeeApp.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Edit";
}
<hr />

<h2>@Model.EmpName</h2>

<partial name="_EmployeeForm" for="@Model" />

<div class="row">
    <div class="row h-100 justify-content-center center">
        <button type="button" class="btn btn-secondary" id="add_attribute">Add attribute</button>
    </div>
</div>

<div class="row">
    <div class="col form-group text-right">
        <button class="btn btn-success" employee-action="update">Update</button>
    </div>
</div>
